html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

/* navigation */
nav {
  position: absolute;
  width: 100vh;
  padding: 16px 16px 16px 32px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  z-index: 1;

  background-color: #ffffff;
  backdrop-filter: blur(6px);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

